In [321]:
import pandas as pd
marks = pd.read_csv('data/students_performance.csv')
median_a = marks[marks['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = marks[marks['race/ethnicity'] == 'group A']['writing score'].mean()
difference = median_a - mean_c
display(round(abs(difference)))

1

In [322]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep =',')
melb_data.head()
melb_df = melb_data.copy()
melb_df.head()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [323]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['Monthsale'] = melb_df['Date'].dt.month
round(melb_df['Monthsale'].value_counts(ascending=False, normalize=True)*1e2, 0)

Monthsale
5     15.0
7     15.0
9     14.0
6     13.0
8     11.0
11     8.0
4      7.0
3      5.0
12     4.0
10     4.0
2      3.0
1      0.0
Name: proportion, dtype: float64

In [324]:
delta_days.dt.days

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [325]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [326]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [327]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) 
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
display(weekend_count)

12822

In [396]:

def get_weekend(weekday):
    if weekday == 5 or weekday == 6 :
         return 1
    else:
        return 0

melb_df.Weekend = melb_df.WeekdaySale.apply(get_weekend)  
print(round(melb_df[melb_df.Weekend==1]['Price'].mean(),2))

1081198.64

In [ ]:
melb_df.

In [339]:
ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo.Time = pd.to_datetime(ufo.Time)
leap_year = ufo.Time.dt.year.value_counts()
display(leap_year)

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: count, Length: 68, dtype: int64

In [359]:
ufo.Time = pd.to_datetime(ufo.Time)
ufo['Date'] = ufo['Time'].dt.date
print(ufo[ufo.State =='NV'].Date.diff().dt.days.mean())

68.92932862190813

In [334]:

import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)

In [268]:
import pandas as pd


countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df['density'] = countries_df['population'] / countries_df['square'] * 1e6
display(round(countries_df['density'].mean(), 2))

84.93

In [264]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

In [263]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64