In [321]:
import pandas as pd
marks = pd.read_csv('data/students_performance.csv')
median_a = marks[marks['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = marks[marks['race/ethnicity'] == 'group A']['writing score'].mean()
difference = median_a - mean_c
display(round(abs(difference)))

1

In [429]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep =',')
melb_data.head()
melb_df = melb_data.copy()
melb_df.head()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067,...,1,0,181.0,126.0,1970,Yarra,-37.8041,144.9953,Northern Metropolitan,4019
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067,...,2,0,245.0,210.0,1910,Yarra,-37.8024,144.9993,Northern Metropolitan,4019
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067,...,1,2,256.0,107.0,1890,Yarra,-37.8060,144.9954,Northern Metropolitan,4019
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067,...,1,1,0.0,126.0,1970,Yarra,-37.8008,144.9973,Northern Metropolitan,4019
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067,...,1,2,220.0,75.0,1900,Yarra,-37.8010,144.9989,Northern Metropolitan,4019

In [ ]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['Monthsale'] = melb_df['Date'].dt.month
round(melb_df['Monthsale'].value_counts(ascending=False, normalize=True)*1e2, 0)

In [ ]:
delta_days.dt.days

In [ ]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days.dt.days)

In [ ]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

In [327]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) 
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
display(weekend_count)

12822

In [396]:

def get_weekend(weekday):
    if weekday == 5 or weekday == 6 :
         return 1
    else:
        return 0

melb_df.Weekend = melb_df.WeekdaySale.apply(get_weekend)  
print(round(melb_df[melb_df.Weekend==1]['Price'].mean(),2))

1081198.64

In [ ]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

In [433]:
popular_seler = melb_df['SellerG'].value_counts().nlargest(49).index
# заменяем значения улиц, не попавших в список популярных на строку 'other'
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seler else 'other') 
a = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() 
b = melb_df[melb_df['SellerG'] == 'other']['Price'].min() 
print(round(a/b, 1))

1.3

In [449]:
popular = melb_df.Suburb.value_counts().nlargest(119)
melb_df.Suburb = melb_df.Suburb.apply(lambda x: x if x in popular else "other")
category_type = melb_df.Suburb.astype('category')
display(category_type.info())
display(melb_df.info())

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Suburb
Non-Null Count  Dtype
--------------  -----
13580 non-null  category
dtypes: category(1)
memory usage: 18.4 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  int64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

None

In [ ]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

In [436]:
 melb_df['SellerG'].value_counts().nsmallest(49)

SellerG
LITTLE             35
Moonee             36
McDonald           39
Burnham            39
Nick               40
Alexkarbon         40
Thomson            42
Bells              44
Buckingham         46
Philip             48
Eview              51
Purplebricks       51
Cayzer             52
Collins            56
C21                57
O'Brien            61
HAR                62
Rendina            66
RW                 70
Chisholm           77
Douglas            97
Love              109
Williams          111
Raine             116
Kay               119
Village           125
Stockdale         150
YPA               154
Hodges            157
Harcourts         168
Gary              170
RT                184
Miles             196
Noel              205
Sweeney           216
McGrath           222
Greg              239
Jas               243
Woodards          301
Fletchers         301
Brad              342
Biggin            393
Buxton            632
Marshall          659
Ray               701
Barry            1011
hockingstuart    1167
other            1199
Jellis           1316
Name: count, dtype: int64

In [426]:
print(melb_df['SellerG'] = melb_df['SellerG'].astype(str))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1250246819.py, line 1)

In [ ]:
ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo.Time = pd.to_datetime(ufo.Time)
leap_year = ufo.Time.dt.year.value_counts()
display(leap_year)

In [359]:
ufo.Time = pd.to_datetime(ufo.Time)
ufo['Date'] = ufo['Time'].dt.date
print(ufo[ufo.State =='NV'].Date.diff().dt.days.mean())

68.92932862190813

In [334]:

import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)

In [268]:
import pandas as pd


countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df['density'] = countries_df['population'] / countries_df['square'] * 1e6
display(round(countries_df['density'].mean(), 2))

84.93

In [ ]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

In [ ]:
ctb =pd.read_csv('data/citibike-tripdata.csv')
ctb.head(10)
ctb.shape
ctb.info()
ctb['bikeid'].mode()

In [476]:
dominant_type = ctb['usertype'].mode()[0]

# Фильтруем и находим поездки преобладающего типа клиентов
dominant_trips = ctb[ctb['usertype'] == dominant_type]

# Рассчитываем долю преобладающего типа клиентов
dominant_ratio = len(dominant_trips) / len(ctb)

# Округляем до сотых
dominant_ratio = round(dominant_ratio, 2)

# Выводим результат
print(dominant_ratio)

0.77

In [484]:
dominant_type = ctb['usertype'].mode()
display(dominant_type)

0    Subscriber
Name: usertype, dtype: object

In [495]:
male_count = ctb[ctb['gender'] == 1].shape[0]
female_count = ctb[ctb['gender'] == 2].shape[0]
max_count = max(male_count, female_count)
max_count

183582

In [509]:
ctb['birth year'].describe()

count    300000.000000
mean       1979.364803
std          11.920796
min        1885.000000
25%        1969.000000
50%        1982.000000
75%        1989.000000
max        2002.000000
Name: birth year, dtype: float64

In [557]:
ctb['age'] = 2018 - ctb['birth year']
ctb.drop('birth year', axis=1, inplace=True)
older_people = ctb[ctb['age'] > 60]
num_trips_older_people = older_people.shape[0]

KeyError: 'birth year'

In [ ]:
data['starttime'] = pd.to_datetime(data['starttime'])
data['stoptime'] = pd.to_datetime(data['stoptime'])
data['tripduration'] = (data['stoptime'] - data['starttime'])
data.loc[3, 'tripduration']

In [ ]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

ctb['time_of_day'] = ctb['starttime'].dt.hour.apply(get_time_of_day)
a = ctb[ctb['time_of_day'] == 'day'].shape[0]
b = ctb[ctb['time_of_day'] == 'night'].shape[0]
print(round(a / b))

In [574]:
ctb.loc[:,ctb.notnull().any()]

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,trip_duration
0,0,0,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0,0
1,0,0,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0,0
2,0,0,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0,0
3,0,0,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0,0
4,0,0,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0,0
299996,0,0,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0,0
299997,0,0,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0,0
299998,0,0,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0,0
299999,0,0,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0,0

In [581]:
ctb.isna().shape[0]

300000

In [ ]:
days_of_weeks = pd.datetime(ctb['starttime']).dt.dayofweek
ctb['weekend'] = days_of_weeks.apply(lambda x : 1 if x == 5 or x == 6 else 0 )

In [562]:
ctb.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,trip_duration
0,0,0,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0,0
1,0,0,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0,0
2,0,0,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0,0
3,0,0,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0,0
4,0,0,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0,0